@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Entities */
/* Colors: 
  - brackground: #474656
  - text: #dee2e6
  */


/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

/* html {
  font-size: 10px;
  font-size: 62.5%;
} */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #474656;
}

.container {
  margin: 0 auto;
  max-width: 56rem;
}

.grid {
  display: grid;
  
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  grid-row-gap: 1rem;
}

/* Header */
.menu {
  height: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem 0 1.6rem;
}

.header-image{
  width: 5rem;
}

.header-menu {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}

.menu-icon {
  display: none;
}

.menu-item {
  color: #dee2e6;
  text-decoration: none;
}

.menu-item:hover {
  color: #c5f6fa;
}

/* Generel Section */
section {
  /* height: 20rem; */
  border-bottom: 1px solid #dee2e6;
  color: #dee2e6;
}

section:last-child {
  border: none;
}

/* Section About */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dee2e6;
  padding: 1.2rem 0;
  
}

.information {
  margin-left: 2.4rem;
}

.information h1 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
}

.information p {
  font-size: 1.6rem;
}

.social-media {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.social-media a {
  display: block;
  text-decoration: none;
  color: #dee2e6;
}

.social-media-icon {
  font-size: 2.4rem;
}

.avatar {
  width: 12rem;
  border-radius: 1rem;
  margin-right: 2.4rem;
}

/* Section working expirience */

.working-expirience {
  padding: 1.2rem 0;
}

h2 {
  margin: 0 0 2.4rem 2.4rem;
  font-size: 2rem ;
}

.expirience-table {
  text-align: center;
  font-size: 1.6rem;
}

/* Section contact */
.contact-section {
  padding-top: 1.2rem;
}

.contact {
  margin: 0 2.4rem;
  font-size: 1.6rem;
}

.data-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.input-name-field[type=text], .input-email-field[type=email] {
  background-color: #474656;
  border: none;
  border-bottom: 1px solid #dee2e6;
  font-size: 1.2rem;
  color:#dee2e6;
}

.message-label {
  display: block;
  margin-bottom: 5px;
}

.message-area {
  width: 100%;
}

.btn {
  margin-top: 0.8rem;
  height: 2.4rem;
  width: 5.6rem;
  background-color: #474656;
  border: 1px solid #dee2e6;
  font-size: 1.2rem;
  color: #dee2e6;
}

.btn:hover {
  cursor: pointer;
}

@media(max-width: 895px) {
  .information h1 {
    font-size: 2rem;
  }

  .information p {
    font-size: 1.2rem;
  }

  .social-media-icon {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.6rem ;
  }
  
  .expirience-table {
    font-size: 1.2rem;
  }
    
  .contact {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1rem;
  }
  
}

@media(max-width: 790px) {
  .information h1 {
    font-size: 1.6rem;
  }

  .information p {
    font-size: 1rem;
  }

  .social-media-icon {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem ;
  }
  
  .expirience-table {
    font-size: 1rem;
  }
    
  .contact {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
  }

  @media(max-width: 560px) {
    .header-menu {
      display: none;
    }

    .menu-icon {
      display: block;
      font-size: 1.8rem;
      color: #dee2e6;
      cursor: pointer;
    }
    .about {
      display: grid;
      justify-content: center;
      /* text-align: center; */
      align-items: center;
      height: min-content;
      padding: 1.2rem 0;
    }

    .information {
      margin-left: 0;
      margin-bottom: 1.2rem;
    }

    .avatar {
      margin: 0;
      justify-self: center;
    }


    h2 {
      text-align: center;
      margin-left: 0;
    } 
    
    .expirience-table {
      grid-template-columns: 1fr !important;
    }

    .company {
      max-width: 100%;
      margin: 0 auto;
      border-top: 1px solid #dee2e6;
      padding: 5px;
    }

    .company:first-child {
      border: none;
    }

    .data-input {
      display: grid;
      grid-template-columns: 1fr;
    }

    .input {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 1rem;
    }
      
    .btn {
      margin-bottom: 1.2rem;
    } 
    
  }

}